.div-control .ul-control {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.btn-cont{
  width:150px;
}
.hr-divider {
  height: 2px;
  border-style: none;
  /* Old browsers */
  background: -moz-linear-gradient(left, transparent 0%, #00C1B5 50%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, transparent 0%, #00C1B5 50%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, transparent 0%, #00C1B5 50%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.dhi-lbl{
  text-align:right;
  font-family: "faruma";
  width:100%;
  font-size: 16px;
}
.thaana{
  text-align:right;
  font-family: "faruma";
}

.profile_picture{
  display: inline-block;
width: 150px;
height: 150px;
border-radius: 50%;
align-items: center;
display:block;
margin:auto;
margin-top:20px;
object-fit: cover;
}
.profile_top-border-right{
  border-top: none;
  border-right: none;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  padding:5px 10px 5px 10px;
  text-align: left;
}
.profile_top-border-left{
  border-top: none;
  border-left:
  none; border-right:
  solid 1px black;
  border-bottom:
  solid 1px black;
  padding:5px 10px 5px 10px;
  text-align: right;
}
.profile_buttom-border-right{
border-bottom: none;
border-right: none;
border-left: solid 1px black;
border-top: solid 1px black;
padding:5px 10px 5px 10px;
text-align: left;
}
.profile_buttom-border-left{
border-bottom: none;
border-left: none;
border-right: solid 1px black;
border-top: solid 1px black;
padding:5px 10px 5px 10px;
text-align: right;
}
.profile_middle-border-right{
border-top: none;
border-right: none;
border-left: solid 1px black;
border-bottom: solid 1px black;
padding:5px 10px 5px 10px;
text-align: left;
}
.profile_middle-border-left{
border-top: none;
border-left: none;
border-right: solid 1px black;
border-bottom: solid 1px black;
padding:5px 10px 5px 10px;
text-align:right;
}


* {
  box-sizing: border-box;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}
.inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.inp input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:-moz-placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:-ms-input-placeholder) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077FF;
}
.inp input:focus + .label {
  color: #0077FF;
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}
