
@font-face {
  font-family: 'MVWaheed';
  src: url('MVWaheed.eot');
  src: url('MVWaheed.woff2') format('woff2'),
       url('MVWaheed.woff') format('woff'),
       url('MVWaheed.ttf') format('truetype'),
       url('MVWaheed.svg#MVWaheed') format('svg'),
       url('MVWaheed.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Faruma';
  src: url('Faruma.eot');
  src: url('Faruma.woff2') format('woff2'),
       url('Faruma.woff') format('woff'),
       url('Faruma.ttf') format('truetype'),
       url('Faruma.svg#Faruma') format('svg'),
       url('Faruma.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode-Medium.woff2') format('woff2'),
    url("FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.waheedh{
  font-family: 'MVWaheed';
  direction:rtl;
}

.faruma{
  font-family: 'faruma';
  direction:rtl;
}

.firacode{
  font-family: 'Fira Code';
  direction:ltr;
}
